@media screen and (min-width: 480px){

    
 /*********************
TWO COLUMB LATOUT
 *********************/
    
#primary {
  width: 50%;
  float: left;
}

#secondary { 
  width: 40%;
  float: right;
}

header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
  border-style: solid;
  border-color: #00FFFF;
  border-width: 5px; 
  }
    
/*********************
PAGE: MAIN
*********************/

    
#gallery li {
  width: 28.3333%;
}

#gallery li:nth-child(4n) {
  clear: left;
}
           
h1 {
  font-size: 1.75em;
  margin: 10px 40px 15px 0;
}
            
h2 {
  font-size: 1em;
  margin: 10px 40px -5px 0;
}

 
  /*********************
PAGE: CHARACTER
*********************/


 /*********************
PAGE: ABOUT
*********************/
    

@media screen and (min-width: 768px) {          /*680px 680px 680px too small*/



 
/*********************
HEADER
*********************/

.header-icon {
   position: absolute;
   margin: auto;
   top: 0;
   left: 0;
   right: 0;
   padding-bottom: 5px;
   height: 125px;
}

.page_bg {
  background-size: 100%;
}             


nav {
  float: right;
  font-size: 1.125em;
  margin-right: 5%;
  margin-top: 2%;
  text-align: right; 
  border-width: 5px; 
}

#logo {  
  float: left;
  text-align: center;
  margin: 0 0 5px 5px;
  border-style: solid;
  border-color: #00FFFF;
  border-width: 5px; 
}
            
header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
  border-style: solid;
  border-color: #00FFFF;
  border-width: 5px; 
  }

h1 {
  font-size: 2.5em;
  margin: 10px 80px 0 65px;
}
            
h2 {
  font-size: 1.25em;
  margin: 15px 10px 10px 0;
} 





    
    
                
                
                
                
           
