/*********************
GENERAL
*********************/
* {
  box-sizing: border-box;
}



* {
  margin: 0 0;  
}

    

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}
#brief {
  padding: 10% 0 0 0;

  margin-top: 0;
}

a {
 text-decoration: none;
}

.cover{
  max-width: 100%;
}

h3 {
  margin: 0 0 1em 0;
}

/*********************
HEADING
*********************/

header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

#header {
  background-image: url('../img/panels.jpg');
  background-repeat: repeat;
  background-position: right top;
  background-size: 80px;
  margin: 0 0;  
}

.header-icon {
  float: left;
  height: 65px;
  margin: 0 0 0 0;
}

#logo {text-align: center;
       margin: 0;}

h1 { 
  margin: 10px 0 0 0;
  font-size: 1.35em;
  font-weight: normal;
  line-height: 0.8em;
  display: block;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

h2 {
  font-size: 1em;
  margin: 10px 0 10px 0;
  font-weight: normal;}
}


/*********************
NAVIGATION
*********************/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
 list-style: none;
 text-align: center;
 /*margin: 0 18%;*/
 /*padding: 0 0 0 0;*/
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
}


/*********************
FOOTER
*********************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 25px;
  bottom:0;
  left:0;
  width: 100%;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}


/*********************
PAGE: MAIN
*********************/

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  color: #bdc3c7;
}

#gallery li a p {
  margin: 0;
  padding: 5%;
  /*color: #111;*/
}

 .page_bg {
   background-image: url('../img/paper2.jpg');
   background-repeat: no-repeat;
   background-size: 100% 100%;
} 

/*********************
PAGE: IMAGE DISCRIPTION
*********************/ 

.description-wrap {
  position: relative;
}

.description-wrap .description {
  position: absolute;
  top: 0;
  left 0;
  width: 99%;
  padding: 2%;
  background: rgba(0,0,0,.7);
  height: 99%;
  display: none;
 }

/*********************
PAGE: ABOUT
*********************/

.profile-photo {
  display: block;
  max-width: 150px;
  margin: 0 0 0 30px;
  border-radius: 100%;
  padding-top: 15px;
}

.about-me {
  margin: 0 0 0 0;
}


/*site body*/


/*********************
COLOR
*********************/


/*header*/

header {
 background: #F5DEB3;
 border-color: #599a68;
}

/*nav background on moble*/
nav {
 background: #599a68;
}

/*logo text*/
h1, h2 {
  color: #FF0000;
}

/*links*/
a {color: #6ab47b;}

/*nav links*/
nav a, a nav:visited {
 color: #00FF7F;
}

/*selected nav link*/
nav a.selected, nav a:hover {
  color: #32673f;
}

/*footer*/

footer {
  background-color: #F5DEB3;
  color: #999;
}
