/*********************
GENERAL
*********************/
* {
  box-sizing: border-box;
  margin: 0 0;
}


#wrapper {
  max-width: 940px;
  margin: 0 auto;
  }

html{
  padding: 0 0 90px;
  display: block;
}


a {
 text-decoration: none;
}

h3 {
  margin: 0 0 1em 0;
}

/*********************
HEADING
*********************/

header {
  float: left;
  margin: 0 0 10px 0;
  padding: 5px 0 0 0;
  width: 100%;
  border-style: solid;
  border-color:   #00FFFF;
  border-width: 5px 5px 0 5px; 
}

#logo {
  text-align: center;
  margin: 0 0 5px 5px;
}

h1 { 
  margin: 10px 0 0 78px;
  font-size: 1.35em;
  font-weight: normal;
  line-height: 0.8em;
  display: block;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

h2 {
  font-size: 1em;
  margin: 10px 0 -5px 78px;
  font-weight: normal;
}

/*********************
HEADER
*********************/

.header-icon {
  float: left;
  height: 90px;
  margin: 0 0 0 0;
}
/*This is the CSS3 that will spin the Eye of Agamotto when clicked*/
.spin { 
    position: absolute;
    height: 90px;
    margin:0 0 0 0;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/*********************
NAVIGATION
*********************/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 2px 0 0;
  border-color:   #00FFFF;
  border-width: 5px 0 5px 0; 

}

nav ul {
 list-style: none;
 text-align: center;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
}


/*********************
PAGE: MAIN
*********************/

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  color: #bdc3c7;
}

#gallery li a p {
  margin: 0;
  padding: 5%;
  /*color: #111;*/
}

 .page_bg {
   background-image: url('../img/paper2.jpg');
   background-repeat: no-repeat;
   background-size: 100% 100%;
} 
.cover{
  max-width: 100%;
  border-style: solid;
  border-color: #00FFFF;
  border-width: 5px; 
}

/*********************
PAGE: IMAGE DESCRIPTION
*********************/ 

.description-wrap {
  position: relative;
}

.description-wrap .description {
  position: absolute;
  top: 0;
  left:0;
  width: 99%;
  padding: 2%;
  background: rgba(0,0,0,.7);
  height: 99%;
  display: none;
 }

 /*********************
PAGE: CHARACTER
*********************/

/*********************
PAGE: ABOUT
*********************/

/*********************
FOOTER
*********************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding: 10px 0 10px 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  border-style: solid;
  border-color:   #00FFFF;
  border-width: 5px;
  color: #999; 
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

.social {
  display: inline-block;
  border-style: solid;
  border-color:   #00FFFF;
  border-width: 5px; 
  padding: 15px 5px 5px 5px; 
}


/*********************
COLOR
*********************/


/*nav background on moble*/
nav {
 background: none;
 border-style: solid;
}

/*logo text*/
h1, h2 {
  color: #FF0000;
}

/*links*/
a {color: #6ab47b;}

/*nav links*/
nav a, a nav:visited {
 color: #00FF7F;
}

/*selected nav link*/
nav a.selected, nav a:hover {
  color: #32673f;
}




